{ "presets": [
  ["@babel/preset-env", {"targets": {"esmodules": true}}],
  "@babel/preset-react"
],
"plugins": [
  // Stage 3
  "@babel/plugin-transform-classes",
  ["@babel/plugin-proposal-class-properties", { "loose": true }],
  "@babel/plugin-transform-arrow-functions",
  "@babel/plugin-syntax-dynamic-import",
  "@babel/plugin-proposal-object-rest-spread",
  // ["module:fast-async"],
  "@babel/plugin-transform-runtime"
  ]
}