{ "presets": [
  ["@babel/preset-env", {"targets": {"esmodules": true}}],
  "@babel/preset-react"
],
"plugins": [
  // Stage 3
  ["@babel/plugin-proposal-class-properties", { "loose": true }],
  "@babel/plugin-syntax-dynamic-import",
  "@babel/plugin-proposal-object-rest-spread"
  // ["module:fast-async"]
]
}